<!DOCTYPE html>
<html>
<head>
    <title>Edit Entry</title>
</head>
<body>
    <h2>Edit Work Entry</h2>
    <form method="post">
        <label>Date:</label><br>
        <input type="date" name="date" value="{{ entry.work_date }}"><br><br>

        <label>Start Time:</label><br>
        <input type="time" name="start" required><br><br>

        <label>End Time:</label><br>
        <input type="time" name="end" required><br><br>

        <button type="submit">Update</button>
    </form>
</body>
</html>
